*{
    padding: 0;
}
.contenedorPrincipal{
    height: 90vh;
    overflow: auto;

}

.cp{
    font-family: monospace;
    background: #414141;
    color: white;
    display: inline;
  
  }
  h1{
    text-align: center;
  }
  .App{
    width: 80%;
    margin: 50px;
    padding: 50px;
  }
  .codigo{
    font-family: monospace;
    width: 80%;
    padding: 10px;
    margin: 30px;
    text-align: left;
    background: #414141;
    color: white;
  }
  .codigo li{
  
    list-style: none;
  }